<div class="row transaction-customer-layout" ng-controller="customersController">
    <div class="col-lg-2">
        <div class="row">
            <img src="app/images/u217.png" alt="" />
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row"><label>ID:</label>{{Customers.id}}</div>
        <div class="row"><label>Name:</label>{{Customers.name}}</div>
        <div class="row"><label>Contact:</label>{{Customers.contact}}</div>
    </div>
    <div class="col-lg-5">
        <div class="row"><label>Credit Limit:</label>{{Customers.creditLimit}}</div>
        <div class="row"><label>Balance:</label>{{Customers.balance}}</div>
        <div class="row"><label>Available Points:</label>{{Customers.availablePoints}}</div>
    </div>
</div>