<!-- Start Transaction Layout -->
<div class="row col-lg-12 transaction-layout ">
    <div class="col-lg-7 transaction-left-layout">
        <transaction-customer-details></transaction-customer-details>

        <transaction-item-grid-layout></transaction-item-grid-layout>
        
        <transaction-total-layout></transaction-total-layout>
    </div>

    <div class="col-lg-5 transaction-right-layout">
        <div class="row">
        </div>
        <div class="row">
            <frequently-used-product-buttons></frequently-used-product-buttons>
        </div>
    </div>
</div>
<!-- End Transaction Layout -->
