<div class="frequently-used-product-buttons">
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
    <div class="col-lg-3"><button>Button</button></div>
</div>